html{
    scroll-behavior: smooth;
}
*{  
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: #79c2d0;
    font-family: "Libre Baskerville", sans-serif;
}
/*--------------------- Section ---------------------*/
section{
    padding: 100px 0;
    background: #79c2d0;
}
.section_title{
    margin-bottom: 30px;
}
.section_title h2{
    position: relative;
    text-align: center;
    color: #fff; 
    transition: all .5s ease-in-out;
    font-size: 30px;
}
.section_title h2:hover{
    background: #78c2c3;
}
/*--------------------- Header ---------------------*/
header{
    background: #79c2d0;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.navbar{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(pink, transparent);
    min-height: 100px;
}
.nav_links{
    display: flex;
    margin-top: 20px;
}
.nav_links li a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.nav_links li a:hover{
    border-bottom: 2px solid #fff;
}
.logo{
    margin-top: 15px;
}
.logo h2 a{
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}
/*--------------------- Anasayfa ---------------------*/
.inner_anasayfa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    color: #fff;
}
.child_anasayfa{
    flex-basis: 45%;
}
.child_anasayfa h1{
    font-size: 50px;
    color: #fff;
}
.span_child{
    color: #fff;
}
.nav_button .btn{
    width: 130px;
    margin-top: 10px;
    height: 40px;
    font-weight: 500;
    background: rgb(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover{
    background: rgb(255, 255, 255, 0.7);
}
.nav-menu-btn{
    display: none;
}
@media only screen and (max-width: 768px) {
    .nav_links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #79c2d0;
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .child_anasayfa h1{
        display: none;
    }
}
.aboutme{
    color: #e3e3e3;
}
.aboutme_child1{
    position: relative;/* Konumlandırma yapabilmek için container'a göre pozisyonlandırma yapar */
    width: 300px; /* Container'ın genişliği */
    height: 400px; /* Container'ın yüksekliği */
}
.image1{
    position: absolute; /* Görsel mutlak konumlandırma için */
    top: 0; /* Yukarıdan mesafe */
    right: 0; /* Sağdan mesafe */
    max-width: 100%; /* Maksimum genişlik */
    max-height: 100%;
}
.aboutme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}
.aboutme_child{
    flex-basis: 45%;
}
.icons{
    background: #bbe4e9; /* Arka plan rengi */
    padding: 60px; 
}
.icon-container {
    display: flex; /* Simgeleri yatay olarak hizalar */
    justify-content: flex-end; /* Sağa hizalar */
}

.icon-container i {
    font-size: 24px; /* Simgelerin boyutu */
    margin-left: 10px; /* Simgeler arasında boşluk bırakır */
}